/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7b00ff;
    color: #353535;
}

/* MENU SUPERIOR */
.topo{
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background-color: rgba(255,255,255,0.9);

    backdrop-filter: blur(10px);

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

/* LOGO */
.logo-area{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-area img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-area span{
    font-size: 22px;
    font-weight: bold;
}

/* MENU */
nav{
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: black;

    font-weight: bold;

    padding: 10px 18px;

    border-radius: 10px;

    transition: 0.3s;
}

/* HOVER MENU */
nav a:hover{
    background-color: #f4df63;
    transform: scale(1.05);
}

/* ÁREA PRINCIPAL */
.main{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 140px 80px 60px;
}

/* TEXTO */
.main-texto{
    width: 45%;
}

.main-texto h1{
    font-size: 60px;
    line-height: 1.1;

    margin-bottom: 20px;

    font-weight: 900;
}

/* LINHA */
.linha{
    width: 120px;
    height: 6px;

    background-color: #000;

    border-radius: 10px;

    margin-bottom: 25px;
}

/* PARÁGRAFO */
.main-texto p{
    font-size: 20px;
    line-height: 1.6;

    margin-bottom: 35px;
}

/* BOTÃO */
.botao{
    display: inline-block;

    text-decoration: none;

    background-color: #f4df63;
    color: black;

    font-weight: bold;
    font-size: 18px;

    padding: 18px 35px;

    border-radius: 15px;

    transition: 0.3s;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* HOVER BOTÃO */
.botao:hover{
    transform: translateY(-5px) scale(1.05);

    background-color: #ffe600;

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* IMAGEM */
.main-imagem img{
    width: 500px;

    border-radius: 40px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* CONTEÚDO */
.conteudo{
    padding: 80px;
}

.texto{
    background-color: white;

    padding: 40px;

    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.texto h2{
    font-size: 40px;

    margin-bottom: 20px;
}

.texto p{
    font-size: 20px;

    line-height: 1.7;
}

/* RESPONSIVO */
@media(max-width: 900px){

    .main{
        flex-direction: column;
        text-align: center;
    }

    .main-texto{
        width: 100%;
    }

    .main-imagem img{
        width: 90%;
        margin-top: 40px;
    }

    .topo{
        flex-direction: column;
        gap: 15px;
    }

}
